<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myScheduleLabel" jhiTranslate="schoolNetApp.schedule.home.createOrEditLabel">Create or edit a Schedule</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!schedule.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="schedule.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="schoolNetApp.schedule.date" for="field_date">Date</label>
            <div class="d-flex">
                <input id="field_date" type="datetime-local" class="form-control" name="date" [(ngModel)]="schedule.date"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.date?.dirty && editForm.controls.date?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.date?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.date?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="schoolNetApp.schedule.homework" for="field_homework">Homework</label>
            <input type="text" class="form-control" name="homework" id="field_homework"
                [(ngModel)]="schedule.homework"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="schoolNetApp.schedule.lessonPosition" for="field_lessonPosition">Lesson Position</label>
            <input type="number" class="form-control" name="lessonPosition" id="field_lessonPosition"
                [(ngModel)]="schedule.lessonPosition"
            required />
            <div [hidden]="!(editForm.controls.lessonPosition?.dirty && editForm.controls.lessonPosition?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lessonPosition?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.lessonPosition?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="schoolNetApp.schedule.enabled" for="field_enabled">Enabled</label>
            <input type="checkbox" class="form-control" name="enabled" id="field_enabled"
                [(ngModel)]="schedule.enabled"
             />
            <div [hidden]="!(editForm.controls.enabled?.dirty && editForm.controls.enabled?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.enabled?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="schoolNetApp.schedule.lesson" for="field_lesson">Lesson</label>
            <select class="form-control" id="field_lesson" name="lesson" [(ngModel)]="schedule.lessonId"  required>
                <option [ngValue]="lessonOption.id" *ngFor="let lessonOption of lessons; trackBy: trackLessonById">{{lessonOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.lesson?.dirty && editForm.controls.lesson?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.lesson?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label jhiTranslate="schoolNetApp.schedule.form" for="field_form">Form</label>
            <select class="form-control" id="field_form" name="form" [(ngModel)]="schedule.formId"  required>
                <option [ngValue]="formOption.id" *ngFor="let formOption of forms; trackBy: trackFormById">{{formOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.form?.dirty && editForm.controls.form?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.form?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label jhiTranslate="schoolNetApp.schedule.classroom" for="field_classroom">Classroom</label>
            <select class="form-control" id="field_classroom" name="classroom" [(ngModel)]="schedule.classroomId"  required>
                <option [ngValue]="classroomOption.id" *ngFor="let classroomOption of classrooms; trackBy: trackClassroomById">{{classroomOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.classroom?.dirty && editForm.controls.classroom?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.classroom?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
