<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPupilLabel" jhiTranslate="schoolNetApp.pupil.home.createOrEditLabel">Create or edit a Pupil</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!pupil.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="pupil.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="schoolNetApp.pupil.enabled" for="field_enabled">Enabled</label>
            <input type="checkbox" class="form-control" name="enabled" id="field_enabled"
                [(ngModel)]="pupil.enabled"
             />
            <div [hidden]="!(editForm.controls.enabled?.dirty && editForm.controls.enabled?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.enabled?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="schoolNetApp.pupil.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="pupil.userId"  required>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.user?.dirty && editForm.controls.user?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.user?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label jhiTranslate="schoolNetApp.pupil.form" for="field_form">Form</label>
            <select class="form-control" id="field_form" name="form" [(ngModel)]="pupil.formId"  required>
                <option [ngValue]="formOption.id" *ngFor="let formOption of forms; trackBy: trackFormById">{{formOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.form?.dirty && editForm.controls.form?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.form?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
