
<div *ngIf="school">
    <h2><span jhiTranslate="schoolNetApp.school.detail.title">School</span> {{school.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="schoolNetApp.school.name">Name</span></dt>
        <dd>
            <span>{{school.name}}</span>
        </dd>
        <dt><span jhiTranslate="schoolNetApp.school.enabled">Enabled</span></dt>
        <dd>
            <span>{{school.enabled}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'school-my-suffix/'+ school.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
