
<div *ngIf="parent">
    <h2><span jhiTranslate="schoolNetApp.parent.detail.title">Parent</span> {{parent.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="schoolNetApp.parent.enabled">Enabled</span></dt>
        <dd>
            <span>{{parent.enabled}}</span>
        </dd>
        <dt><span jhiTranslate="schoolNetApp.parent.user">User</span></dt>
        <dd>
            {{parent.userId}}
        </dd>
        <dt><span jhiTranslate="schoolNetApp.parent.pupil">Pupil</span></dt>
        <dd>
            <span *ngFor="let pupil of parent.pupils; let last = last">
                <a [routerLink]="['/pupil-my-suffix', pupil?.id ]">{{pupil.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'parent-my-suffix/'+ parent.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
