<div>
    <h2>
        <span jhiTranslate="schoolNetApp.classroom.home.title">Classrooms</span>
        <button class="btn btn-primary float-right create-classroom-my-suffix" [routerLink]="['/', { outlets: { popup: ['classroom-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="schoolNetApp.classroom.home.createLabel">
            Create new Classroom
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="classrooms">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="schoolNetApp.classroom.name">Name</span></th>
            <th><span jhiTranslate="schoolNetApp.classroom.enabled">Enabled</span></th>
            <th><span jhiTranslate="schoolNetApp.classroom.school">School</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let classroom of classrooms ;trackBy: trackId">
                <td><a [routerLink]="['../classroom-my-suffix', classroom.id ]">{{classroom.id}}</a></td>
                <td>{{classroom.name}}</td>
                <td>{{classroom.enabled}}</td>
                <td>
                    <div *ngIf="classroom.schoolId">
                        <a [routerLink]="['../school-my-suffix', classroom.schoolId  ]" >{{classroom.schoolId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../classroom-my-suffix', classroom.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'classroom-my-suffix/'+ classroom.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'classroom-my-suffix/'+ classroom.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
